.chat-list {
  height: 400px;
  width: 300px;
}
.contact-card {
  background-color: #b4ffa1;
  height: auto;
  width: auto;
  border: 1px solid #b6b6b6;
  display: flex;
}
.contact-img {
  border-radius: 300px;
  height: 40px;
  display: inline;
  margin: 5px;
}
.contact-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: block;
  align-items: center;
  margin: 5px;
}
.contact-last-message {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin: 5px;
}
